@import url('https://fonts.googleapis.com/css2? family= Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700 & display=swap');

    body{
    background: url(../Imagenes/imagen.jpg);
    text-align: center;
    color: #ffffff;
    background-size: cover;
    font-family: 'Merriweather', serif;
}
button{
    /*  */
    padding: 12px 60px;
    margin: 10px 20px;
    font-size: 24px;
    background: #000000;
    color: #ffffff;
    border-radius: 20px;
    border: 4px dotted #ffffff;
    cursor: pointer;
    transition: .5s;
}
button:hover{
    background: #be4444;
    color: #000000;
    padding: 12px 60px;
}
h1{
    color:#ffffff;
    font-size: 60px;
}
h2{
    color:#000000;
    font-family: 'Merriweather', serif;
}